@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
/*header*/
h1.title {
  margin-bottom: 20px;
  color: #444444;
  font-family: "Allura", cursive;
  text-transform: uppercase;
  font-size: 38px;
  word-spacing: 25px;
  letter-spacing: 5px;
}

p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #a9a9a9;
}
.btn a {
  width: 180px;
  height: 35px;
  line-height: 35px;
  border: 2px solid #000;
  color: #000;
  display: block;
  margin: 25px auto 0;
  text-align: center;
}

.header {
  position: relative;
}
/* Navigation Bar */
.navbar {
  width: 100%;
  height: 65px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: grey;
}

.logo a {
  font-family: "Allura", cursive;
  font-size: 32px;
  color: #000;
}

.navbar_items ul {
  display: flex;
}

.navbar_items ul li {
  margin: 0 10px;
}

.navbar_items ul li a {
  text-transform: uppercase;
  color: #fff;
}

/* banner_image */
.banner_image {
  background: url("https://www.shutterstock.com/image-photo/portable-modern-silver-computer-on-260nw-709486594.jpg")
    no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_content {
  text-align: center;
  color: #fff;
}

.banner_content h1 {
  text-transform: uppercase;
  line-height: 38px;
  margin-bottom: 15px;
}
/*Our Products*/

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin-top: 0;
}

.card-content p {
  margin-bottom: 20px;
}
.btn a {
  padding: 10px;
  border-radius: 20px;
}

/* About */
.about,
.contactus,
.products {
  text-align: center;
  padding: 5% 10%;
}
/* Contact us */
.form_wrapper .form_input {
  margin-bottom: 15px;
}

.form_wrapper .form_input input[type="text"] {
  width: 250px;
  padding: 12px 20px;
  border: 1px solid #ccc;
}

.form_wrapper .form_input textarea {
  width: 250px;
  padding: 12px 20px;
  height: 80px;
  resize: none;
  border: 1px solid #ccc;
}
.btn {
  padding: 10px;
  border-radius: 20px;
}
/* footer */
.footer {
  width: 100%;
  text-align: center;
  background: #444444;
  padding: 20px 0;
}

.footer a {
  color: #fff;
}

@media (max-width: 720px) {
  .navbar {
    height: auto;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 25px;
  }

  .navbar_items ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar_items ul li {
    margin-bottom: 5px;
  }

  .banner_content {
    margin-top: 35px;
  }
}
/* arrow */
.arrow {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
}

.arrow img {
  width: 20px;
  height: 20px;
  z-index: 1;
}
